<%# <script src="app/javascript/controllers/update_jackpot_controller.js"></script> %>

<div class="container justify-content-center mt-3">
    <h4 class="text-center text-success"><u>Réservez au dépôt:</u></h4>
    <h4 class="text-center mt-4"><%=@deposit.address%></h4>

    <div class="d-flex justify-content-between mt-3">
      <%= image_tag "bootle_icone.png" , class: "marker"%>
      <%= image_tag "bootle_icone.png" , class: "marker"%>
      <%= image_tag "bootle_icone.png" , class: "marker"%>
      <%= image_tag "bootle_icone.png" , class: "marker"%>
      <%= image_tag "bootle_icone.png" , class: "marker"%>
      <%= image_tag "bootle_icone.png" , class: "marker"%>
    </div>
    <div data-controller='update-jackpot' data-controller='control-quantity' class="mt-5">
      <div data-controller='control-quantity'>
          <%= simple_form_for ([@deposit, @booking]) do |f| %>
          <%= f.input :start_date, as: :date, order: [:day, :month, :year], label: "Quand voulez-vous passer ?"%>
          <%= f.number_field :number_of_bottles, label: "Pour combien de bouteilles?", data: {update_jackpot_target: "quantity", action: "keyup->update-jackpot#reward"} %>
          <%= f.button :submit, "ok", class: "btn btn-warning" %>
          <% end %>
        <div class="d-none" data-control-quantity-target="content">
          <p>Attention! la place disponible dans ce dépôt est insuffisante pour vous!</p>
        </div>
      </div>
        <div class="mt-5 text-center bg-lg">
          <p >Top !</p>
          <p>Grâce à votre dépôt, votre cagnotte va augmenter de : <span data-update-jackpot-target="total">0</span>€</p>
        </div>
    </div>
    <div class="text-center mt-4">
      <%= link_to "je cherche un autre dépôt!", deposits_path, class: "btn btn-outline-success"%>
    </div>
</div>


<%# data: {control_quantity_target: "number", action: "keyup->control-quantity#compare"} %>

<%# class="animate__animated animate__heartbeat" %>
