

<div class="container">
  <h2 class= "text-success"><strong>Bonjour <%= current_user.first_name %></strong></h2>
  <div class="booking-container">
    <h4>Voici vos réservations en cours</h4>

    <% @bookings.each do |booking| %>
      <% if booking.status == "pending" %>
        <div class="booking-card">
          <%= image_tag "bootle_icone.png" , class: "marker"%><p>Le dépôt: <%= booking.deposit.address %></p>
          <p>attend <%= booking.number_of_bottles %> bouteilles avant le <%= booking.end_date %></p>
          <p> Cela augmentera votre cagnotte de <%= booking.number_of_bottles * 0.5 %>€</p>
          <%= link_to 'je dépose', update_booking_path(booking.id), data: {turbo_method: :patch}, class: 'btn btn-outline-success ms-2 mt-2 '%>
          <%= link_to 'supprimer', delete_booking_path(booking.id), data: {turbo_method: :delete, turbo_confirm: "Vous confirmez?"} , class: 'btn btn-outline-primary ms-2 mt-2'%>
        </div>

      <% end %>

    <% end %>

  </div>

</div>
